@import '../../assets/scss/colors.scss';

.feed{
    box-shadow: $box-shadow;
    height: 50rem;
    margin: 2rem 0;
    padding: 1rem;
    border-radius: $border-radius;

    h1{
        color: $color-feed;
        text-shadow: $text-shadow;
    }

    &__container{
        overflow: auto;
        height: 79%;
        &::-webkit-scrollbar { 
            display: none;
        }
        padding: .5rem;
        margin: 1rem;
    }
}