@import "../../assets/scss/colors.scss";

.feed {
  box-shadow: $box-shadow;
  height: 48rem;
  margin: 1.5rem 0;
  padding: 0.5rem;
  border-radius: $border-radius;
  width: 50%;

  h1 {
    color: $color-feed;
    text-shadow: $text-shadow;
    margin: 0;
    padding: 0.5rem;
    margin-bottom: 1.5rem;
  }

  &__container {
    overflow: auto;
    height: 79%;
    &::-webkit-scrollbar {
      display: none;
    }
    padding: 0.5rem;
    margin: 1rem auto;
    width: 100%;
  }

  &__article {
    margin-top: 1rem;
    box-shadow: 0px 0px 5px 0.5px $color-dark;
    padding: 0.5rem;
    width: 100%;
  }

  &__post-person {
    padding: 0 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    img {
      margin-top: 1rem;
      width: 4rem;
      height: 4rem;
      object-fit: cover;
      border-radius: 50%;
      margin-right: 1rem;
      box-shadow: 1px 3px 3px $color-dark-opacity;
    }

    h4,
    h6 {
      margin: 0;
    }
  }

  &__content {
    padding: 0 1rem;
    word-wrap: break-word;
  }

  &__img {
    width: 100%;
    margin-bottom: 1rem;
  }

  &__comentarios {
    margin: 0;
    padding: 0;
  }

  &__comentario {
    list-style: none;
    display: flex;
    p,
    h5 {
      margin: 0.5rem 0;
    }
    h5 {
      font-size: 1rem;
    }
    img {
      width: 3rem;
      height: 3rem;
      border-radius: 50%;
      object-fit: cover;
      box-shadow: 1px 3px 3px $color-dark-opacity;
      margin: 0.8rem 1rem;
    }
  }

  &__perfil-comentario {
    display: flex;
    align-items: center;
    img {
      width: 4rem;
      height: 4rem;
      box-shadow: 1px 3px 3px $color-dark-opacity;
      border-radius: 50%;
      object-fit: cover;
      margin-right: 1rem;
    }
  }
}

@media screen and (min-width: 62.5rem){
  .feed {
    width: 60%;
    margin: 0;
    height: 49rem;
  }

}