$color-informes: #D82B03;
$color-notas: #F8B500;
$color-grupos: #002540;
$color-feed: #00ADB5;
$color-enquetes: #75126B;
$color-aniversariantes: #5FBF43;
$color-light: #F7F7F7;
$color-dark: #373737;
$color-dark-opacity: #37373799;
$color-sea-primary: #00454B;