@import "../../assets/scss/colors.scss";

.informes {
  background-color: $color-light;
  box-shadow: $box-shadow;
  border-radius: $border-radius;
  padding: 1rem;
  margin: 2rem 0;
  &__title {
    color: $color-informes;
    text-shadow: $text-shadow;
    margin-top: 0.5rem;
  }

  &__list {
    color: $color-dark;
    li {
      margin: 0.5rem 0;
      line-height: 1.5;
    }
  }

  &__btn {
    margin-top: 1rem;
    margin-right: 1rem;
    margin-bottom: 0.2rem;
    text-align: end;
  }
}

@media (min-width: 40rem) {
  .informes {
    &__list {
      display: flex;
      flex-wrap: wrap;
      li {
        margin: 0.8rem;
        width: 45%;
      }
    }
  }
}

@media screen and (min-width: 62.5rem) {
  .informes {
    width: 30%;
    margin: 0;
    height: 35rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &__list {
      display: flex;
      flex-wrap: wrap;
      overflow: auto;
      height: 100%;
      &::-webkit-scrollbar {
        display: none;
      }

      li {
        width: 100%;
      }
    }
  }
}
