@import '../../assets/scss/colors.scss';

.informes{
    box-shadow: $box-shadow;
    border-radius: $border-radius;
    padding: 1rem;
    margin: 2rem 0;
    &__title{
        color: $color-informes;
        text-shadow: $text-shadow;
    }

    &__list{
        color: $color-dark;
        li{
            margin: .5rem 0;
            line-height: 1.5;
        }
    }

    &__btn{
        margin-top: 2rem;
        text-align: end;
    }
}