@import '../../assets/scss/colors.scss';


.grupos{
    box-shadow: $box-shadow;
    padding: 1rem;
    border-radius: $border-radius;

    h1{
        color: $color-grupos;
        margin-top: .5rem;
    }
}