@import '../../assets/scss/colors.scss';

.homepage-content{
    width: 95%;
    margin: 0 auto;
}

@media screen and (min-width: 62.5rem) {
    main{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }
    .homepage-content{
        width: 85%;
    }

    section {
        display: flex;
        
    }

    .first-section{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        margin: 2rem 0;
    }
}